@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.star-intro {
  position: relative;
  height: 100vh;
  overflow: hidden;
  perspective: 400px;
  background: black;
  color: #ffe81f;
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  z-index: 999;
}

.crawl {
  position: absolute;
  top: 100%;
  width: 90%;
  left: 50%;
  transform: translateX(-50%) rotateX(25deg);
  transform-origin: bottom center;
  animation: crawl 45s linear infinite;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.title h1 {
  font-size: 3rem;
  margin: 0;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: 100%;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    top: -600%;
    opacity: 0;
  }
}
